body{
    background-color: antiquewhite;
}

h2{
    color: aquamarine;
    text-align: center;
    border: 3px solid #b31d1d ;
    margin: 0 50px 100px 50px;
    background-image: linear-gradient(rgb(255, 73, 73), rgb(65, 0, 0)) ;
    font-size: 45px;
    border-radius: 5px;
}
section img{
    float: left;
    padding: 10px;
}
section{
    border: 2px solid  #b31d1d;
    margin: auto;
    margin-bottom: 15px;
    max-width: 960px;
    border-radius: 20px;
    padding: 3px;

}
.clear{
    clear: both;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 50px 50px 0 50px;
    background-image: linear-gradient(rgb(255, 73, 73), rgb(65, 0, 0));
    color: aquamarine;
}